<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Administração - WL</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />
  <link rel="icon" href="logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <img src="logo.png" width="64">
      <ul class="right hide-on-med-and-down">
        <li><a href="/coffee">Lista do café da manhã</a></li>
        <li><a href="badges.html">Produtos</a></li>
        <li class="active"><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h4 style="text-align: center">Usuários</h4>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Departamento</th>
          <th>CPF</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td><span th:text="${user.id}"></span></td>
          <td><span th:text="${user.name}"></span></td>
          <td><span th:text="${user.email}"></span></td>
          <td><span th:text="${user.area}"></span></td>
          <td><span th:text="${user.cpf}"></span></td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <h4 style="text-align: center">Produtos</h4>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Produto</th>
          <th>Descrição</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item : ${items}">
          <td><span th:text="${item.id}"></span></td>
          <td><span th:text="${item.name}"></span></td>
          <td><span th:text="${item.description}"></span></td>
          <td><span th:text="${item.quantity}"></span></td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="left">
      <form class="form-pixel" method="post">
        <h6 style="font-weight: bold; text-align: center;">Novo produto</h6>
        <div class="row">
          <div class="input-field col s4">
            <p>Produto: <input type="text" value="" name="name" required /></p>
          </div>
          <div class="input-field col s6">
            <p>Descrição: <input type="text" value="" name="name" required /></p>
          </div>
          <div class="input-field col s2">
            <p>Quantia: <input type="number" value="" name="name" min="1" max="100" required /></p>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="submit">Cadastrar
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
    <br>
  </div>

  <script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>

</html>