<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <title>Gerenciamento do café - WL</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />
  <link rel="icon" href="logo.png">
  <link rel="stylesheet" href="customcss/custom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <img src="logo.png" width="64">
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/">Lista do café da manhã</a></li>
          <li><a href="/new">Participar</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/logout">Sair</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container detalhes">
    <div class="Header">
      <h3 class="Heading">Lista café da manhã</h3>
    </div>
    <table>
      <thead>
        <tr>
          <th>Colaborador(a)</th>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="coffee : ${coffees}">
          <td><span th:text="${coffee.user.name}"></span><a> - </a><span th:text="${coffee.user.area}"></span></td>
          <td><span th:text="${coffee.item.name}"></span></td>
          <td><span th:text="${coffee.coffeeDate}"></span></td>
        </tr>
      </tbody>
    </table>
    <br>
    <a href="/new" class="btn waves-effect waves-light modal-trigger">Escolher produto<i
        class="material-icons left">add</i></a>
  </div>

  <script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>

</html>