<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Participar do café - WL</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="customcss/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <img src="logo.png" width="64">
                <ul class="right hide-on-med-and-down">
                    <li><a href="/coffee">Lista do café da manhã</a></li>
                    <li class="active"><a href="/new">Participar</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>

</html>