<!DOCTYPE html>
<html>

<head>
    <title>Página de cadastro - WL</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />
    <link rel="icon" href="logo.png">
    <link rel="stylesheet" href="customcss/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="fundo">
    <div class="container cadastro">
        <form class="container" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <p>Nome: <input type="text" value="" name="name" required /></p>
                </div>
                <div class="input-field col s7">
                    E-mail: <input type="Email" value="" name="email" required />
                </div>
                <div class="input-field col s5">
                    CPF: <input type="text" value="" name="cpf" minlength="11" maxlength="11" required />
                </div>
                <div class="input-field col s7">
                    Departamento: <input list="areas" name="area" required />
                    <datalist id="areas">
                        <option value="TI"></option>
                        <option value="RH"></option>
                        <option value="BS"></option>
                        <option value="Administrativo"></option>
                        <option value="Finanças"></option>
                        <option value="Suporte"></option>
                    </datalist>
                </div>
                <div class="input-field col s5">
                    Senha: (Mínimo: 8 caracteres)<input type="password" value="" name="password" minlength="8"
                        required />
                </div>
            </div>
            <th:block th:include="msg_erro"></th:block>
            <button class="btn waves-effect waves-light" type="submit" name="submit">Cadastrar-se
                <i class="material-icons right">send</i>
            </button>
            <p>Já possui uma conta?<a href="/login"> Conecte-se</a>.</p>
        </form>
    </div>

    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>